﻿@model HotCar.WebUI.Frontend.Models.UserModel
@using System
@using System.Web.Optimization

@{
    ViewBag.Title = "Інформація про поїздку";
}

@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    @Scripts.Render("~/bundles/TripDetail/scripts")
}

@section Styles{
    @Styles.Render("~/Content/jednotka/DetailTrip/css")
}

@Html.Partial("Modal/CommentModal", @Model)

<div id="main" role="main">
    <div id="main-content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">
                        Моя поїздка
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 mg-t">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default mg-b">

                                <div class="panel-group accordion" id="accordion2">
                                    <div class="panel panel-default">

                                        <a id="showMap" class="accordion-toggle collapsed" style="background-color: #eaedf2; color: #434955; font-size: 18px" data-parent="#accordion2" data-toggle="collapse" href="#accordion2-item-2">
                                            Показати маршрут на карті
                                        </a>
                                        <div class="panel-collapse collapse" id="accordion2-item-2">
                                            <div class="panel-body" id="map-canvas" style="height: 300px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body" style="font-size: 15px;">
                                    <div class="col-md-4">
                                        Місце посадки:
                                    </div>
                                    <div class="col-md-8">
                                        <label style="font-weight: 600">@Model.Trips[0].LocationAddresses[0]</label>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Місце прибуття:
                                    </div>
                                    <div class="col-md-8">
                                        <label style="font-weight: 600">@Model.Trips[0].LocationAddresses[Model.Trips[0].LocationAddresses.Count - 1]</label>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Дата:
                                    </div>
                                    <div class="col-md-8">
                                        <span><label style="font-weight: 600">@Model.Trips[0].TripTime.ToShortDateString()</label></span>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Час відправлення:
                                    </div>
                                    <div class="col-md-8">
                                        <span><label style="font-weight: 600">@Model.Trips[0].TripTime.ToString("t")</label></span>
                                    </div>

                                    <div class="row" style="margin-top: 40px;"></div>

                                    @if (Model.Trips[0].AdditionalInfo != null)
                                    {
                                        <div class="col-md-12 panel panel-default panel-contrast no-mg-b" style="padding-bottom: 5px;">
                                            <div>
                                                <h4>Додаткова інформація</h4>
                                            </div>
                                            @Model.Trips[0].AdditionalInfo
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 mg-t">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-bordered">
                                <div class="panel-heading text-center">
                                    <label style="font-size: 15px;">Водій</label>
                                </div>
                                <div class="panel-body">
                                    <div class='profile-boxes'>
                                        <div class='profile-box'>
                                            <div class="row">
                                                <div class="col-md-4">


                                                    <a class='image-link' data-lightbox='team' href="@Url.Action("UserPhoto", "Account", new { login = @Model.Trips[0].Driver.Login })">
                                                        <i class='fa-icon-camera-retro'></i>
                                                        <img alt="@Model.Trips[0].Driver.FirstName" width="150" height="150" class="img-circle img-responsive" src="@Url.Action("UserPhoto", "Account", new {login = @Model.Trips[0].Driver.Login})"/>
                                                    </a>

                                                </div>
                                                <div class='col-sm-8'>
                                                    <h3 class='name'>@Model.Trips[0].Driver.FirstName @Model.Trips[0].Driver.SurName</h3>
                                                    @if (@Model.Trips[0].Driver.Birthday != null)
                                                    {
                                                        <h4 class='position'>@Model.Trips[0].Driver.Age років</h4>
                                                    }
                                                    <p>@Model.Trips[0].Driver.AboutMe</p>
                                                    <div class='links'>
                                                        <input id="input-rating" value="5" type="number" class="rating" data-readonly="true" data-size="xs">                                                 
                                                            
                                                                <a id="btn-show-modal" href='#' onclick='DriverComments("@Model.Trips[0].Driver.Login","@Model.UserInfo.Login")'>
                                                                    <i class='fa-icon-comment text-contrast'></i> Відгуки
                                                                </a>                                                        
                                                        </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mg-t">
                            <div class="panel panel-bordered">
                                <div class="panel-heading text-center">
                                    <label style="font-size: 15px;">Пасажири</label>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div>
                                            @for (var x = 0; x < @Model.Trips[0].Passangers.Count; ++x)
                                            {
                                                <div class="col-md-4 portfolio-boxes">
                                                    <div class="portfolio-box">
                                                        <a class="image-link" data-lightbox='team' href="@Url.Action("UserPhoto", "Account", new { login = @Model.Trips[0].Passangers[x].UserInfo.Login })">
                                                            <i class="fa-icon-search"></i>
                                                            <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="@Url.Action("UserPhoto", "Account", new { login = @Model.Trips[0].Passangers[x].UserInfo.Login })">
                                                        </a>
                                                        <div>
                                                            <span>@Model.Trips[0].Passangers[x].UserInfo.FirstName</span> <span>, </span> <span>@Model.Trips[0].Passangers[x].UserInfo.Age</span> <span> р.</span>
                                                        </div>
                                                        <div class='links'>
                                                            <i class="fa-icon-star text-contrast"></i>
                                                            <span>@Model.Trips[0].Passangers[x].UserInfo.Rating </span>                                          
                                                            <a id="btn-show-modal" href='#' onclick='PassengerComments("@Model.Trips[0].Passangers[x].UserInfo.Login","@Model.Trips[0].Driver.Login","@Model.UserInfo.Login")'>
                                                                <i class='fa-icon-comment text-contrast'></i>Переглянути
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr class="no-mg-b no-mg-t">
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="fade" id="scroll-to-top">
            <i class="fa-icon-chevron-up"></i>
        </div>
    </div>
</div>

@for (var i = 0; i < Model.Trips[0].LocationAddresses.Count; ++i)
{
    <input type="hidden" id="hiddenWayPoint @i" value="@Model.Trips[0].LocationAddresses[i]"/>
}