﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Знайти поїздку";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=uk"></script>
    @Scripts.Render("~/bundles/FindTrip/scripts")
}

<div id="main" role="main">
    <div id="main-content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">
                        Пошук поїздки
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("Index", "FindTrip", FormMethod.Post))
                    {
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control validate" id="from-address" name="from" placeholder="Звідки" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control validate" id="to-address" name="to" placeholder="Куди" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="btnFind" class="btn btn-contrast">Знайти</button>
                        </div>
                    }
                </div>
                <div class="col-lg-12 mg-t" style="margin-top: 40px;">
                    <img class="img-responsive center-block" alt="Map" width="300" height="300"
                         src="~/Content/images/FindTrip/map.png" />
                </div>
                <div class="fade" id="scroll-to-top">
                    <i class="fa-icon-chevron-up"></i>
                </div>
            </div>
        </div>
    </div>
</div>