﻿@model HotCar.WebUI.Frontend.Models.UserModel


@Html.Hidden("user-comment-login",Model.UserInfo.Login)
<div class="titleBox">
    <label>@Model.UserInfo.FirstName @Model.UserInfo.SurName</label>
</div>
<div class="commentBox">

    <p class="taskDescription">
        <i class="fa-icon-star text-contrast"></i>
        <span>@Model.UserInfo.Rating - @Model.Comments.Count відгуків</span>
    </p>
</div>
<div class="actionBox">
    <ul class="commentList" id ="comment-list">
        @foreach (var comment in @Model.Comments)
        {
            <li>
                <div class="commenterImage">
                    <img src="@Url.Action("UserPhoto", "Account", new {login = @comment.UserInfo.Login})" />
                </div>
                <div class="commentText">
                    <p class="">@comment.Text</p> <span class="date sub-text">@comment.UserInfo.FirstName @comment.UserInfo.SurName @comment.Time</span>

                </div>
            </li>
        }
    </ul>
</div>
       
