﻿@using System
@model HotCar.WebUI.Frontend.Models.UserModel

@{
    ViewBag.Title = "Коментарі";
    ViewBag.ModalId = "ModalComment";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var date = DateTime.Now;
   
    
}

<div class="detailBox"></div>
@if (Model.Trips[0].TripTime < date)
{
    <div id="add-comment-box">
        <div class="actionBox panel panel-bordered mg-b">
            <div class="panel-body">
                <input id="input-rating" value="0" type="number" class="rating" data-size="xs">
                <form class="form-inline" action="javascript:void(0);" onsubmit="addNewComment('@Model.Trips[0].Id')">
                    <div class="form-group">
                        <input class="form-control" id="commentText" type="text" placeholder="Your comments" required/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}