﻿@using System
@model HotCar.WebUI.Frontend.Models.UserModel


@foreach(var trip in Model.Trips)
{
	<div class="row text-box text-box-title-above text-box-big-image">
		<div class="col-sm-12">
			<hr class="text-contrast"/>
			<div class="col-sm-5 animation">
				<div class="appl">
					<hr class="hr-half">
					<span class="title">
					<a href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">@trip.LocationAddresses[0] - @trip.LocationAddresses[@trip.LocationAddresses.Count - 1]</a>
				</span>
					<br/>
					<br/>
					<span class="cost-block">
					<i class="fa-icon-usd text-contrast"></i>
					<span> Ціна (</span>
					<span class="cost text-contrast">@trip.CostOneSeat.ToString("0.##")</span>
					<span> ) </span>
					<span> грн</span>
				</span>
					<span class="trip-time-block">
					<i class="fa-icon-time text-contrast"></i>
					<span>@trip.TripTime.Hour.ToString("D2"):@trip.TripTime.Minute.ToString("D2")</span>
				</span>
					<span class="trip-date-block">
					<i class="fa-icon-calendar text-contrast"></i>
					<span>@trip.TripTime.ToString("d")</span>
				</span>
					<br/>
					<span>
					<i class="fa-icon-group text-contrast"></i>
					<span>Вільних місць: ( </span>
					<span class="available-places-count text-contrast">@trip.AvailablePlacesCount</span>
					<span> ) </span>
				</span>
					<a class="btn btn-link link-contrast btn-sm trip-more" href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">
						<i class="fa-icon-truck"></i>
						<span>Детальніше</span>
					</a>
					<div class="row">
						<div class="col-sm-12">
							<a href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">
								<img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" maxwidth="842" maxheight="364" src="~/Content/images/UserAccount/tripRoadNew.jpg">
							</a>
						</div>
					</div>
					<span>
						<i class="fa-icon-user"></i>
						<span>@trip.Driver.Login.ToLower()</span>
					</span>
				</div>
			</div>
			<div class="col-lg-7 mg-t">
				<div class="panel panel-bordered">
					<div class="panel-heading text-center">
						<label style="font-size: 18px;">заявки</label>
					</div>
					<div class="panel-body">
						<div class="row">
							<div>
								@foreach (var pass in trip.Passangers)
								{
									<div class="col-md-3 portfolio-boxes">
										<div class="portfolio-box">
											<a class='image-link' data-lightbox='team' href="@Url.Action("UserPhoto", "Account", new { login = @pass.UserInfo.Login })">
												<i class="fa-icon-search"></i>
                                                <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="@Url.Action("UserPhoto", "Account", new {login = @pass.UserInfo.Login})">
											</a>
											<div>
												<span>@pass.UserInfo.FirstName</span> <span> @pass.UserInfo.Age </span> <span> р.</span>
											</div>
											<div>
												<i class="fa-icon-usd text-contrast"></i>
												<span> пропонує</span>
												<br/>
												<span>( </span>
												<span class="text-contrast">@pass.Cost</span>
												<span> ) грн за</span>
											</div>
											<div>
												<i class="fa-icon-group text-contrast"></i>
												<span>( </span>
												<span class="text-contrast">@pass.CountReservedSeats</span>
												@if (pass.CountReservedSeats == 1)
												{
													<span> ) місце</span>
												}
												else
												{
													<span> ) місця</span>
												}
												<br/>
											</div>
											<div>
												<div class="btn btn-contrast btn-bordered btn-sm btn_apply" onclick=' applyApplToTrip("@trip.Id", "@pass.UserInfo.Login") '>підтвердити</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
