﻿@using System
@model HotCar.WebUI.Frontend.Models.UserModel

<div class="row">
	<div class="col-sm-12">
		@foreach (var comment in @Model.Comments)
		{
			<div class="media animation-comments">
				<div class="pull-left">
				    <div class="media-object">
                        <img width ="60" height="60" src="@Url.Action("UserPhoto", "Account", new { login = comment.UserInfo.Login})" />
				    </div>
				</div>
				<div class="media-body">
					<div class="content">
						<div class="toolbar">
							<h4 class="title text-contrast"></h4>
							<i class="fa-icon-user text-contrast"></i>
							<span>@comment.UserInfo.FirstName @comment.UserInfo.SurName</span>
                            <a class="btn btn-link link-contrast btn-sm" href="@Url.Action("GetTripInfo","TripDetail", new{ tripId = comment.TripId})">
                                <i class="fa-icon-truck"></i>
                                <span>подорож</span>
                            </a>
						</div>
						<p>@comment.Text</p>
						<p>
							<i class="fa-icon-calendar text-contrast"></i>
							<span> @comment.Time </span>
						</p>
					</div>
				</div>
			</div>
		}
	</div>
	<br/>
</div>