﻿@using System
@model HotCar.WebUI.Frontend.Models.UserModel

@foreach (HotCar.Entities.Trip trip in @Model.Trips)
{
	<div class="col-sm-6 animation">
	<div class="trip">
		<hr class="hr-half">
		<span class="title">
			<a href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">@trip.LocationAddresses[0] - @trip.LocationAddresses[@trip.LocationAddresses.Count - 1]</a>
		</span>
		<br/>
		<br/>
		<span class="cost-block">
			<i class="fa-icon-usd text-contrast"></i>
			<span> Ціна (</span>
			<span class="cost text-contrast">@trip.CostOneSeat.ToString("0.##")</span>
			<span> ) </span>
			<span> грн</span>
		</span>
		<span class="trip-time-block">
			<i class="fa-icon-time text-contrast"></i>
			<span>@trip.TripTime.Hour.ToString("D2"):@trip.TripTime.Minute.ToString("D2")</span>
		</span>
		<span class="trip-date-block">
			<i class="fa-icon-calendar text-contrast"></i>
			<span>@trip.TripTime.ToString("d")</span>
		</span>
		<br/>
		<span>
			<i class="fa-icon-group text-contrast"></i>
			<span>Вільних місць: ( </span>
			<span class="available-places-count text-contrast">@trip.AvailablePlacesCount</span>
			<span> ) </span>
		</span>
		<a class="btn btn-link link-contrast btn-sm trip-more" href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">
			<i class="fa-icon-truck"></i>
			<span>Детальніше</span>
		</a>
		<div class="row">
			<div class="col-sm-12">
				<a href="@Url.Action("GetTripInfo", "TripDetail", new {tripId = trip.Id})">
					<img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" maxwidth="842" maxheight="364" src="~/Content/images/UserAccount/tripRoadNew.jpg">
				</a>
			</div>
		</div>
		<span >
			<i class="fa-icon-user"></i>
			<span>@trip.Driver.Login.ToLower()</span>
		</span>
	</div>
	</div>
}

