﻿@using System.Web.Optimization
@using System.Web.Script.Services
@model HotCar.WebUI.Frontend.Models.RegisterModel

@{
    ViewBag.Title = "Реєстрація";
}

@section Styles{
    @Styles.Render("~/Content/jednotka/register/css")
}
@section Scripts{
    @Scripts.Render("~/bundles/Register/scripts")
}

<div id="main" class="mg-b" role="main">
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Реєстрація</h3>
                            <p>Введіть дані, необхідні для реєстрації:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>

                    <div class="form-bottom">
                        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, @class = "form form-validation", id = "RegisterForm" }))
                        {
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", placeholder = "Ім'я...", name = "form-firtsname", required="true" })
                                        @Html.ValidationMessageFor(u => u.FirstName, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", placeholder = "Прізвище...", name = "form-surname", required = "true" })
                                        @Html.ValidationMessageFor(u => u.LastName, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        <div class="form-group">
                                            @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", placeholder = "Логін...", name = "form-username", required = "true" })
                                            @Html.ValidationMessageFor(u => u.UserName, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.TextBoxFor(u => u.Email, new { @class = " form-control", placeholder = "Електронна пошта...", name = "form-usermail", required = "true" })
                                        @Html.ValidationMessageFor(u => u.Email, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        <div class="form-group">
                                            @Html.TextBoxFor(u => u.Phone, new { @class = "form-control", placeholder = "Телефон...", name = "form-userphone", required = "true" })
                                            @Html.ValidationMessageFor(u => u.Phone, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.TextBoxFor(u => u.BirthdayString, new { @class = " form-control",id="datepicker", placeholder = "Дата народження...", name = "form-username", required = "true" })
                                        @Html.ValidationMessageFor(u => u.BirthdayString, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.PasswordFor(u => u.Password, new { @class = " form-control", placeholder = "Пароль...", name = "form-userpassword", required = "true" })
                                        @Html.ValidationMessageFor(u => u.Password, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        @Html.PasswordFor(u => u.ConfirmPassword, new { @class = " form-control", name = "form-password", placeholder = "Підтвердження паролю...", required = "true" })
                                        @Html.ValidationMessageFor(u => u.ConfirmPassword, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationSummary(true)
                            <button class='btn btn-contrast btn-block' type='submit'>
                                Зареєструватися
                            </button>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="fade" id="scroll-to-top">
        <i class="fa-icon-chevron-up"></i>
    </div>
</div>




