﻿
@{
    Layout = "../Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "500 | Помилка сервера";
}

<div class='row'>
    <div class='col-sm-12'>
        <h1 class='code fadeInDown animated'>
            <span>5</span>
            <span class='fa-icon-exclamation-sign'></span>
            <span>0</span>
        </h1>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <p class='message fadeInLeft animated'>
            Ooops! Something went wrong.
            <br>
            But don't worry - we'll fix that soon.
        </p>
        <a class="btn btn-bordered btn-white btn-lg fadeInRight animated" href="@Url.Action("Index", "Home")">Go to homepage</a>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <a href='@Url.Action("Index", "Home")'>
            <img class="logo fadeInUp animated" alt="Jednotka" width="117" height="39" src="@Url.Content("~/Content/images/HotCarLogo.gif")" />
        </a>
    </div>
</div>