.elements .btn
{
	margin-bottom: 5px;
}
.homepage #wrapper
{
	background-position: center 0;
}
@media (min-width: 768px) and (max-width: 991px)
{
	.homepage .panel-circle-big-contrast .panel-body
	{
		height: 286px;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.homepage .panel-image .panel-body
	{
		height: 238px;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.homepage .panel-image .panel-big
	{
		height: 258px;
	}
}
#wrapper
{
	background-image: url("../images/bg_wrapper.jpg");
	background-position: center -130px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
{
	#wrapper
	{
		background-image: url("../images/bg_wrapper%402x.jpg");
		background-size: 1920px 535px;
	}
}
body.error-page,body.countdown-page
{
	background: url("../images/bg_wrapper.jpg") no-repeat center center fixed;
	background-size: cover;
	moz-background-size: cover;
	ms-behavior: url("../images/ie/backgroundsize.min.htc");
	o-background-size: cover;
	webkit-background-size: cover;
}
.client-slideshow
{
	min-height: 40px;
}
.carousel-contrast,.carousel-contrast .item
{
	height: 488px;
}
@media (min-width: 768px) and (max-width: 991px)
{
	.carousel-contrast,.carousel-contrast .item
	{
		height: 491px;
	}
}
@media (min-width: 992px)
{
	.carousel-contrast,.carousel-contrast .item
	{
		height: 528px;
	}
}
.carousel-contrast .sea
{
	background-image: url("../images/demo/carousels/sea.jpg");
}
.carousel-contrast .forest
{
	background-image: url("../images/demo/carousels/forest.jpg");
}
.carousel-contrast .bokeh
{
	background-image: url("../images/demo/carousels/bokeh.jpg");
}
.carousel-blur,.carousel-image,.carousel-blur .item,.carousel-image .item
{
	height: 388px;
}
@media (min-width: 768px) and (max-width: 991px)
{
	.carousel-blur,.carousel-image,.carousel-blur .item,.carousel-image .item
	{
		height: 393px;
	}
}
@media (min-width: 992px)
{
	.carousel-blur,.carousel-image,.carousel-blur .item,.carousel-image .item
	{
		height: 437px;
	}
}
.homepage.fullsize #wrapper
{
	background-image: none;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
{
	.homepage.fullsize #wrapper
	{
		background-image: url("../images/none.html");
		background-size: 1920px 535px;
	}
}
.homepage.black-and-white #wrapper
{
	background-image: url("../images/demo/bg_wrapper_bw.jpg");
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
{
	.homepage.black-and-white #wrapper
	{
		background-image: url("../images/demo/bg_wrapper_bw%402x.jpg");
		background-size: 1920px 535px;
	}
}
@media (max-width: 767px) and (orientation: portrait)
{
	.quotes .quote
	{
		min-height: 331px;
	}
}
@media (max-width: 767px) and (orientation: landscape)
{
	.quotes .quote
	{
		min-height: 225px;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.quotes .quote
	{
		min-height: 190px;
	}
}
@media (min-width: 992px)
{
	.quotes .quote
	{
		min-height: 185px;
	}
}
.style-switcher
{
	background-color: #434955;
	border-bottom: 1px solid #353b47;
	border-bottom-right-radius: 5px;
	border-right: 1px solid #353b47;
	left: -200px;
	moz-border-radius-bottomright: 5px;
	moz-transition: left 300ms;
	o-transition: left 300ms;
	position: fixed;
	text-align: left;
	top: 100px;
	transition: left 300ms;
	webkit-border-bottom-right-radius: 5px;
	webkit-transition: left 300ms;
	width: 200px;
	z-index: 9999;
}
@media (min-width: 768px)
{
	.style-switcher
	{
		top: 150px;
	}
}
.style-switcher.open
{
	left: 0;
}
.style-switcher .style-switcher-heading
{
	background-color: #8dc153;
	color: white;
	font-size: 18px;
	line-height: 40px;
	padding: 0 15px;
	position: relative;
}
.style-switcher .style-switcher-heading .fa-icon-cogs
{
	background-color: #8dc153;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	line-height: 40px;
	moz-border-radius-bottomright: 5px;
	moz-border-radius-topright: 5px;
	position: absolute;
	right: -40px;
	text-align: center;
	top: 0;
	webkit-border-bottom-right-radius: 5px;
	webkit-border-top-right-radius: 5px;
	width: 40px;
}
.style-switcher .style-switcher-body
{
	padding: 15px;
}
.style-switcher .style-switcher-body .style-switcher-title
{
	color: #eaedf2;
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.style-switcher .style-switcher-body .style-switcher-color
{
	display: inline-block;
	height: 30px;
	width: 10%;
}
.style-switcher .style-switcher-body .style-switcher-color.active
{
	border: 2px solid white;
}
.style-switcher .style-switcher-body .style-switcher-color.orange
{
	background-color: #ff8041;
}
.style-switcher .style-switcher-body .style-switcher-color.blue
{
	background-color: #01a9e0;
}
.style-switcher .style-switcher-body .style-switcher-color.green
{
	background-color: #8dc153;
}
.style-switcher .style-switcher-body .style-switcher-color.salmon
{
	background-color: #ff6d6a;
}
.style-switcher .style-switcher-body .style-switcher-color.mint
{
	background-color: #0cbfb3;
}
.style-switcher .style-switcher-body .style-switcher-color.red
{
	background-color: #e74c3c;
}
.style-switcher .style-switcher-body .style-switcher-color.yellow
{
	background-color: #f8bd27;
}
.style-switcher .style-switcher-body .style-switcher-button
{
	background-color: #676f7a;
	color: white;
	display: block;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
}
.style-switcher .style-switcher-body .style-switcher-button.active
{
	background-color: #8dc153;
}
.style-switcher .style-switcher-body .style-switcher-layouts
{
	margin-top: 15px;
}
.style-switcher .style-switcher-body .style-switcher-layouts .style-switcher-button
{
	display: inline-block;
	width: 82px;
}
.style-switcher .style-switcher-body .style-switcher-reset
{
	border-top: 1px solid #676f7a;
	margin-top: 30px;
	padding-top: 30px;
}