﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "підтверження заявки на поїздку";
    ViewBag.ModalId = "ApplyApplModal";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="commentBox">
	<div id="workingContent" class="text-center">
		<img id="status-image">
		<br/>
		<span id="working-text"></span>
	</div>	
</div>
