﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "AboutMeSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-comment-alt"></i>
			</div>
			<div class="panel-body">
				<h3 class="panel-title">Про мене</h3>
				<textarea id="aboutSpan" class="form-control" readonly="readonly" style="background-color: white; border: none; resize: none; text-align: center;" >@Model.UserInfo.AboutMe</textarea>
				<br/>
				<br/>
				<p class="text-contrast">Розкажіть про себе:</p>
				<br/>
				<div class="form-group control-group">
                    <textarea class="form-control" data-rule-required="true" id="contact_message" name="contact[message]" placeholder="розкажіть..." style="resize: none; text-align: center"></textarea>
				</div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changeAbout();">Розповісти</button>
			</div>
		</div>
	</div>
</div>


