﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "BirthdaySettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-calendar"></i>
			</div>
			<div class="panel-body">
			    <h3 class="panel-title">
			        <span id="birthdaySpan">
                        @Model.UserInfo.Birthday.Value.ToString("d")
                    </span>
			    </h3>
				<p class="text-contrast">Змінити дату народження:</p>
				<br/>
				<div class="form-group control-group">
				    <input class="form-control" data-rule-required="true" id="contact_birthday" name="contact[name]" placeholder="DD.MM.YYYY" type="text">
                </div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changeBirthday();">змінити</button>
			</div>
		</div>
	</div>
</div>

