﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "FirstNameSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-certificate"></i>
			</div>
			<div class="panel-body">
			    <h3 class="panel-title">
                    <span id="firstNameSpan">
                        @Model.UserInfo.FirstName
                    </span>
			    </h3>
				<p class="text-contrast">Нове ім'я:</p>
				<br/>
				<div class="form-group control-group">
                    <input class="form-control" data-rule-required="true" id="contact_name" name="contact[name]" placeholder="Ім'я" type="text">
                    <label id="contact_name_error" class="hidden">Невірне ім'я</label>
				</div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changeFirstName();">Змінити</button>
			</div>
		</div>
	</div>
</div>
