﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "MailSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-body">
				<div class="panel-icon">
				<i class="fa-icon-envelope-alt"></i>
			</div>
			    <h3 class="panel-title">
			        <span id="mailSpan">
                        @Model.UserInfo.Mail
                    </span>
			    </h3>
			<p class="text-contrast">Нова електронна пошта: </p>
			<br/>
			<div class="form-group control-group">
			    <input class="form-control" data-rule-email="true" data-rule-required="true" id="contact_email" name="contact[email]" placeholder="E-Mail" type="text">
                <label id="contact_email_error" class="hidden">Невірна електронна пошта</label>
			</div>
			<br/>
			<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changeMail();">Змінити</button>
			</div>
		</div>
	</div>
</div>
