﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "PasswordSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-user"></i>
			</div>
			<div class="panel-body">
				<h3 class="panel-title">Змінити пароль</h3>				
                <p class="text-contrast">Змінити на:</p>
				<br/>
			    <div class="form-group control-group">
			        <input class="form-control" id="input-passwordOld" placeholder="старий пароль" type="password">
                    <br/>
			        <input class="form-control" id="input-passwordNew" placeholder="новий пароль" type="password">
                    <br />
			        <input class="form-control" id="input-passwordNewConfirm" placeholder="новий пароль (підтвердження)" type="password">
                    <label id="contact_password_error" class="hidden">Пароль надто короткий або надто довгий (6 - 20 символів)</label>
			    </div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changePassword();">змінити</button>
			</div>
		</div>
		
	</div>
</div>
