﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "PhoneSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-phone"></i>
			</div>
			<div class="panel-body">
			    <h3 class="panel-title">
			        <span id="phoneSpan">
                        @Model.UserInfo.Phone
                    </span>
			    </h3>
				<p class="text-contrast">Новий телефон: </p>
				<br/>
				<div class="form-group control-group">
					<input class="form-control" data-rule-required="true" id="contact_phone" name="contact[name]" placeholder="телефон" type="text">
                    <label id="contact_phone_error" class="hidden">Невірний телефон -> +XXXXXXXXXXXX</label>
				</div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changePhone();">Змінити</button>
			</div>
		</div>
	</div>
</div>

