﻿/********************* sign passenger to trip show modal ***************************/
#workingContent {
	display: none;
}

.count-places-text {
	position: relative;
	font-size: 14pt;
}

#count-places-image {
	font-size: 30pt;
}

#count-places {
    position: relative;
    width: 60px;
}

.bolder {
	font-weight: bold;
}

.center {
	position: relative;
	text-align: center;
}

#btn-assign {
	position: relative;
	text-align: center;
	width: 60%;
	left: 20%;
}

.money-group {
	width: 90%;
	left: 5%;
}

#working-text {
	font-size: 14pt;
}
/***********************************************************************************/

.signed-text-ok {
    font-size: 12pt;
    color: green;
}

.signed-text-wait {
    font-size: 12pt;
    color: orange;
}