﻿
@using System.Web.Optimization

@section Scripts{
    @Scripts.Render("~/bundles/HomePage/scripts")
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=uk"></script>
    <script src="~/Scripts/Pages/Home/contact.js"></script>
    <script>
    var initializeMap;

    initializeMap = function () {
        var iw1, latlng, map, marker, options;

        latlng = new google.maps.LatLng(49.8111001, 23.99334369999997);
        options = {
            scrollwheel: false,
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true
        };

        map = new google.maps.Map(document.getElementById("map-canvas"), options);

        marker = new google.maps.Marker({
            position: latlng,
            map: map
        });

        iw1 = new google.maps.InfoWindow({
            content: "Here we are!"
        });

        return google.maps.event.addListener(marker, "click", function (e) {
            return iw1.open(map, this);
        });
    };

    google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
}

@{
    ViewBag.Title = "Зв'язатись - HotCar";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div id='main' role='main'>

    <div id='main-content-header'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <h1 class='title'>
                        Контакти
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <p class='lead text-center no-mg-b'>Ми завжди раді відповісти на будь-які ваші запитання.</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-map-marker'></i>
                        <h2>
                            Ми на карті
                        </h2>
                    </div>
                    <div class='map-container'>
                        <div id='map-canvas' style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-info-sign'></i>
                        <h2>
                            Контактна інформація
                        </h2>
                    </div>
                    <div class='row text-center'>
                        <div class='col-sm-3'>
                            <div class='icon-wrap icon-circle contrast-bg icon-md'>
                                <i class='fa-icon-map-marker text-white'></i>
                            </div>
                            <h3>Адреса</h3>
                            <ul class='list-unstyled'>
                                <li>вул. Володимира Великого, 45</li>
                                <li>Львів</li>
                                <li>Україна</li>
                            </ul>
                        </div>
                        <div class='col-sm-3'>
                            <div class='icon-wrap icon-circle contrast-bg icon-md'>
                                <i class='fa-icon-phone text-white'></i>
                            </div>
                            <h3>Телефон</h3>
                            <ul class='list-unstyled'>
                                <li><a href="tel:+012345678910">+012 345 678 910</a></li>
                                <li><a href="tel:+012345678911">+012 345 678 911</a></li>
                                <li><a href="tel:+012345678911">+012 345 678 911</a></li>
                            </ul>
                        </div>
                        <div class='col-sm-3'>
                            <div class='icon-wrap icon-circle contrast-bg icon-md'>
                                <i class='fa-icon-envelope-alt text-white'></i>
                            </div>
                            <h3>E-Mail</h3>
                            <ul class='list-unstyled'>
                                <li><a href="mailto:hotcarservice@gmail.com">hotcarservice@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class='col-sm-3'>
                            <div class='icon-wrap icon-circle contrast-bg icon-md'>
                                <i class='fa-icon-time text-white'></i>
                            </div>
                            <h3>Графік роботи</h3>
                            <ul class='list-unstyled'>
                                <li>
                                    Понеділок - П'ятниця
                                    &mdash;
                                    <strong>08:00 - 16:00</strong>
                                </li>
                                <li>
                                    Субота
                                    &mdash;
                                    <strong>Вихідний</strong>
                                </li>
                                <li>
                                    Неділя
                                    &mdash;
                                    <strong>Вихідний</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-envelope-alt'></i>
                        <h2>Контактна форма</h2>
                    </div>
                    <form action='' class='form form-validation' id="contactForm">
                        <div class='row'>
                            <div class='col-sm-6'>
                                <div class='form-group control-group'>
                                    <input class='form-control' data-rule-required='true' id='contact_name' name='contact[name]' placeholder="Ім'я" type='text'>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class='form-group control-group'>
                                    <input class='form-control' data-rule-email='true' data-rule-required='true' id='contact_email' name='contact[email]' placeholder='E-Mail' type='text'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='form-group control-group'>
                                    <textarea class='form-control' data-rule-required='true' id='contact_message' placeholder='Введіть ваше повідомлення...' rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <button class='btn btn-contrast btn-block' id="sendMsg" type='submit' style="height: 40px;">
                                    Відправити повідомлення
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>