﻿@using System.Web.Optimization

@section Scripts{
    @Scripts.Render("~/bundles/HomePage/scripts")
    <script src="~/Scripts/Pages/Home/contact.js"></script>
}

@{
    ViewBag.Title = "Спільні поїздки - Запитання та відповіді";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div id='main' role='main'>
    <div id='main-content-header'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <h1 class='title'>
                        Запитання та відповіді
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='box'>
                        <div class='list-group'>
                            <a class="list-group-item" href=@Url.Action("HowItWorks")>
                                <i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                                Як працює HotCar
                            </a>

                            <a class="list-group-item active" href=@Url.Action("FAQ")>
                                <i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                                Запитання та відповіді
                            </a>

                        </div>
                    </div>
                </div>
                <div class='col-md-9'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <form action='#' class='mg-b' method='get'>
                                        <div class='input-group'>
                                            <input class='form-control' placeholder='Будь-ласка, вкажіть, що ви шукаєте' type='text'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-contrast' type='button'>
                                                    <i class='fa-icon-search'></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class='panel-group accordion accordion-bordered' id='accordion'>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-1'>
                                                Що таке спільні поїздки?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-1'>
                                        <div class='panel-body'>
                                            Спільні поїздки - це просто, вигідно і цікаво. Кілька людей подорожують разом на автомобілі і ділять витрати на поїздку. Ймовірно, ви часто так робите з друзями. Майже теж саме і з HotCar - водії пропонують пасажирам вільні місця в своїх автомобілях для спільних поїздок на великі відстані. Це дає можливість істотно економити як водіям так і пасажирам.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-2'>
                                                Яка вигода спільних поїздок?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-2'>
                                        <div class='panel-body'>
                                            Для пасажирів спільні поїздки - це насамперед зручний і недорогий спосіб подорожувати. Наприклад, поїздка в комфортному авто зі Львова до Києва буде коштувати близько 150 гривень.
                                            <br>
                                            <br>
                                            Для водіїв спільні поїздки - це простий спосіб повністю або частково компенсувати витрати на поїздки (паливо, амортизація, страховка - все це коштує недешево, але може бути легко компенсовано попутниками).
                                            <br>
                                            <br>
                                            Крім економічних аспектів, спільні поїздки - це ще й екологічно чистіший спосіб подорожувати. Підвищуючи заповненість автомобіля (кілька людей в авто замість одного), знижується навантаження на дорожньо-транспортну систему і рівень негативного впливу на навколишнє середовище, а ефективність вашої поїздки зростає.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-3'>
                                                Як мені запропонувати поїздку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-3'>
                                        <div class='panel-body'>
                                            Це дуже просто. Зареєструйтеся на HotCar і заповніть форму на сторінці "Запропонувати поїздку". Вам потрібно буде вказати місто відправлення та прибуття, місця можливої посадки і висадки пасажирів, кількість доступних місць, дату і час відправлення. Ви також можете залишити короткий коментар, вказавши додаткову інформацію про поїздку. Після опублікування ваша поїздка буде доступна всім користувачам, які зможуть легко зв'язатися з вами у разі зацікавленості.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-4'>
                                                Що таке проміжні пункти?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-4'>
                                        <div class='panel-body'>
                                            Проміжними пунктами є населені пункти, через які проходить ваш маршрут. Наприклад, при поїздці зі Львова в Київ ви можете вказати Тернопіль як проміжний пункт, щоб пасажири, які шукають водіїв зі Львова до Тернополя або з Тернополя до Києва, могли бачити вашу поїздку в результатах пошуку.
                                            <br>
                                            <br>
                                            Проміжні пункти не обов'язкові, але ми рекомендуємо їх вказувати. Чим більше проміжних пунктів ви вказуєте, тим вищі ваші шанси заповнити всі вільні місця попутними пасажирами.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-5'>
                                                Навіщо потрібні коментарі до поїздки?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-5'>
                                        <div class='panel-body'>
                                            При додаванні поїздки на HotCar використовуйте розділ Додаткова інформація. Поїздка з докладним описом приваблює в три рази більше пасажирів. Також це зменшить кількість додаткових питань.
                                            <br>
                                            <br>
                                            Ви можете надати інформацію про причини вашої поїздки, про те, хто вже буде з вами в машині, а також уточнити місце можливої зустрічі.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-6'>
                                                Як мені знайти поїздку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-6'>
                                        <div class='panel-body'>
                                            Скористайтеся нашою пошуковою системою на сторінці "Знайти поїздку": вкажіть місто відправлення та прибуття, щоб побачити всі пропозиції водіїв за вашим маршрутом. Поїздки можуть бути відсортовані за часом відправлення. Для запобігання помилок у написанні пунктів відправлення / прибуття, ми рекомендуємо вам вибирати міста з автоматичних підказок, які з'являються при введенні назви. Якщо результатів пошуку дуже багато, ви можете звузити їх, наприклад, вказавши конкретну дату і потрібний часовий інтервал для відправлення.
                                            <br>
                                            <br>
                                            Якщо ви знайшли підходящу поїздку, але хочете отримати більше інформації, не соромтеся задавати питання водієві. Для цього натисніть на кнопку "Зв'язатися з водієм".
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-7'>
                                                Як зв'язатися з водієм і забронювати поїздку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-7'>
                                        <div class='panel-body'>
                                            Як тільки ви вибрали відповідну поїздку, натисніть кнопку "Зв'язатися з водієм", щоб забронювати собі місце. Якщо ви ще не авторизувалися, будь ласка, зробіть це, тому в іншому випадку зв'язок з водієм буде недоступний.
                                            Ви можете зв'язатися з водієм, натиснувши "Зв'язатись з водієм" на детальній сторінці поїздки.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-8'>
                                                Як мені оплатити поїздку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-8'>
                                        <div class='panel-body'>
                                            Оплата здійснюється готівкою під час поїздки. Ми рекомендуємо підготувати точну суму заздалегідь, якщо це можливо. Це дозволить уникнути незручностей, пов'язаних з пошуком банкоматів або решти з боку водія.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-9'>
                                                Як зареєструватись?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-9'>
                                        <div class='panel-body'>
                                            Ви можете зареєструватися на сторінці "Реєстрація". Це легко, швидко, і звичайно ж, безкоштовно. Просто заповніть необхідні поля: ім'я, прізвище, рік народження, пароль та email.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-10'>
                                                Як увійти на мою сторінку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-10'>
                                        <div class='panel-body'>
                                            Ви можете отримати доступ до вашого облікового запису на сайті натиснувши на посилання "Увійти", яке знаходиться у верхньому меню на кожній сторінці. Для того щоб увійти, вам потрібно буде вказати ваш логін та пароль. (Ви також можете вибрати "Запам'ятати мене", якщо ви використовуєте особистий комп'ютер). Після авторизації, ви можете в будь-який момент переглядати і редагувати профіль, натиснувши на Ваше ім'я у верхньому правому куті будь-якої сторінки сайту.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-11'>
                                                Як добавити фото на мою сторінку?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-11'>
                                        <div class='panel-body'>
                                            Додати фото ви можете в розділі "Фото профілю", увійшовши у власний кабінет. Ви можете завантажити фото в форматі jpeg, gif або png (макс. 2МБ), натиснувши на "Вибрати фото" і вибравши файл на вашому комп'ютері.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-12'>
                                                Навіщо додавати фото?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-12'>
                                        <div class='panel-body'>
                                            Наявність фотографії в профілі користувача є дуже важливим аспектом: це дає можливість побачити потенційного попутника перед спільною поїздкою, скласти певне уявлення і дізнатися один одного при зустрічі. Користувачі, які додали свою фотографію, збільшують свої шанси знайти попутників в середньому в три рази! Це пов'язано з тим, що користувачам набагато комфортніше контактувати з людиною, обличчя якої вони бачать. Ми наполегливо рекомендуємо вам додати свою фотографію, це займе всього хвилину, але істотно збільшить шанси знайти попутників для спільної поїздки.
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-13'>
                                                Як залишити відгук?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-13'>
                                        <div class='panel-body'>

                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-14'>
                                                Чому важливо залишати відгуки?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class='panel-collapse collapse' id='accordion-item-14'>
                                        <div class='panel-body'>
                                            Після кожної поїздки або взаємодії з користувачем ми рекомендуємо залишати відгуки. Ось 3 основні причини чому це важливо:
                                            <br><br>
                                            1. Щоб поділитися своїм досвідом з спільнотою
                                            <br><br>
                                            Ваш відгук дуже важливий тому він допоможе іншим пользовтелям оцінити надійність попутника і спростить процес вибору компаньйона для поїздки. Відгуки допомагають формувати надійне співтовариство, засноване на довірі та взаємоповазі.
                                            <br><br>
                                            2. Щоб отримати відгук у відповідь і формувати свою репутацію
                                            <br><br>
                                            75% користувачів, які залишають відгук, отримують відгук у відповідь! Чим більше у вас відгуків, тим більшою є довіра з боку інших користувачів і тим простіше вам буде знаходити попутників для спільних поїздок.
                                            <br><br>
                                            3. Щоб мати можливість подивитися з ким у вас були поїздки
                                            <br><br>
                                            Всі відгуки зберігаються у відповідному розділі, і при бажанні ви завжди зможете переглянути їх і згадати з ким і коли у вас були поїздки.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='col-md-8 col-md-offset-2'>
                                    <div class='page-header page-header-with-icon'>
                                        <i class='fa-icon-question-sign'></i>
                                        <h2>Не знайшли відповідь?</h2>
                                    </div>
                                    <form action='' class='form form-validation' id="contactForm" method='get'>
                                        <div class='row'>
                                            <div class='col-sm-6'>
                                                <div class='form-group control-group'>
                                                    <input class='form-control' data-rule-required='true' id='contact_name' name='contact[name]' placeholder="Ім'я" type='text'>
                                                </div>
                                            </div>
                                            <div class='col-sm-6'>
                                                <div class='form-group control-group'>
                                                    <input class='form-control' data-rule-email='true' data-rule-required='true' id='contact_email' name='contact[email]' placeholder='E-Mail' type='text'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-sm-12'>
                                                <div class='form-group control-group'>
                                                    <textarea class='form-control' data-rule-required='true' id='contact_message' name='contact[message]' placeholder='Введіть ваше повідомлення...' rows='10'></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-sm-12'>
                                                <button class='btn btn-contrast btn-block' id="sendMsg" type='submit' style="height: 40px;">
                                                    Відправити повідомлення
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>
