﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="charset" content="windws-1251">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width"/>
    <meta content="HotCar is Epam It Lab Team Project" name="description">
    <meta content="HotCar Team" name="author">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    @Styles.Render("~/Content/jednotka/css")
    @Scripts.Render("~/bundles/common/scripts")

    <link href="~/Content/jednotka/jednotka_green.css" id="colors" rel="stylesheet"/>
</head>
<body class='error-page'>
<div id='wrapper'>
    <div class='container'>
        @RenderBody()
    </div>
</div>
    <div class='style-switcher' id='style-switcher'>
        <div class='style-switcher-heading'>
            Style switcher
            <i class='fa-icon-cogs'></i>
        </div>
        <div class='style-switcher-body'>
            <div class='style-switcher-colors'>
                <div class='style-switcher-title'>Colors</div>
                <a class='style-switcher-color orange' data-switch-target='#colors' data-switch-to='jednotka_orange.css' href='#'></a>
                <a class='style-switcher-color blue' data-switch-target='#colors' data-switch-to='jednotka_blue.css' href='#'></a>
                <a class='style-switcher-color green active' data-switch-default data-switch-target='#colors' data-switch-to='jednotka_green.css' href='#'></a>
                <a class='style-switcher-color salmon' data-switch-target='#colors' data-switch-to='jednotka_salmon.css' href='#'></a>
                <a class='style-switcher-color mint' data-switch-target='#colors' data-switch-to='jednotka_mint.css' href='#'></a>
                <a class='style-switcher-color red' data-switch-target='#colors' data-switch-to='jednotka_red.css' href='#'></a>     
            </div>
            <div class='style-switcher-layouts'>
                <div class='style-switcher-title'>Layout type</div>
                <a class='style-switcher-button active' data-switch-default data-switch-target='body' data-switch-to='removeClass:boxed' href='#'>Wide</a>
                <a class='style-switcher-button' data-switch-target='body' data-switch-to='addClass:boxed' href='#'>Boxed</a>
            </div>
            <div class='style-switcher-reset'>
                <a class='style-switcher-button' data-switch-target='#style-switcher' data-switch-to='reset:defaults' href='#'>Reset to defaults</a>
            </div>
        </div>
    </div>
</body>
</html>
