﻿@* Layout Page for Twitter Bootstrap Modal Dialogs *@
<div class="modal fade" id="@ViewBag.ModalId" tabindex="-1" role="dialog"
     aria-labelledby="@ViewBag.ModalId@Html.Raw("label")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="@ViewBag.ModalId@Html.Raw("label")">
                    @ViewBag.Title
                </h4>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>