﻿@model HotCar.WebUI.Frontend.Models.LoginModel

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/Scripts/Pages/Login/login-modal.js");
}

@{
    ViewBag.Title = "Увійти";
    ViewBag.ModalId = "ModalLogin";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="row">
    <div class="col-md-11">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginform" }))
            {
                @Html.AntiForgeryToken()
                <h4>Введіть свій логін і пароль.</h4>
                <hr />           
                <div class="form-group">
                    @Html.Label("Логін", new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control validate", required="true" })                  
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Пароль", new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control validate", required = "true" })                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-contrast btn-block" id="btnLogin">Увійти</button>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9">
                    @Html.ActionLink("Створити новий акаунт", "Register", "Account")
                </div>
            }
        </section>
    </div>
</div>

